<h2>Buscar Alumnos</h2>
<form #searchForm="ngForm" class="form-inline" (ngSubmit)="buscar()">
    <div class="form-group">
        <input type="text" class="form-control" id="inputPassword2" #name="ngModel" [(ngModel)]="busqueda"
            [ngModelOptions]="{standalone: true}" class="form-control" required placeholder="Nombre/Edad/Carrera">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Buscar</button>
</form>



<div *ngIf="users">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users">
            <div class="card">
                <h5 class="card-title">{{user.nombre}} {{user.apellidos}}</h5>
                <h5 class="card-text">Edad: {{user.edad}} </h5>
                 <p>   Dirección {{user.direccion}}</p>
                <h6 class="card-subtitle mb-2 text-muted">{{user.carrera}}</h6>
                <div class="card-body">
                    <button type="button" class="btn btn-info" (click)="editUser(user.id)">Editar</button>
                    <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Eliminar</button>
                </div>
            </div>
        </li>
    </ul>
</div>
<br>
<br>
<a routerLink="/home"><button class="btn btn-success pull-right" > Agregar </button></a>
<div class="alert alert-danger" role="alert" *ngIf="status == 'error'">
    Rellene todos los campos
</div>

<div *ngIf="edit == 'true' && user">
    <h2>Editar Alumno</h2>

    <form #editForm="ngForm" (ngSubmit)="editNow()" class="col-lg-12">
        <p>
            <input type="text" name="nombre" placeholder="" #nombre="ngModel" [(ngModel)]="user.nombre"
                class="form-control" placeholder="Nombre" required>
        </p>

        <p>
            <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="user.apellidos" class="form-control"
            placeholder="Apellidos" required>
        </p>

        <p>
            <input type="text" name="edad" #edad="ngModel" [(ngModel)]="user.edad" class="form-control" placeholder="Edad" required>
        </p>
        <p>
            <input type="text" name="sexo" #sexo="ngModel" [(ngModel)]="user.sexo" class="form-control" placeholder="Sexo" required>
        </p>
        <p>
            <input type="text" name="direccion" #direccion="ngModel" [(ngModel)]="user.direccion" class="form-control" placeholder="Dirección"
                required>
        </p>
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Carreras
            </button>
            <div class="dropdown-menu" *ngIf="carreras">
                <p class="dropdown-item" *ngFor="let carrera of carreras" (click)="setCarrera(carrera.id)">
                    {{carrera.nombre_carrera}}</p>
            </div>
        </div>

        <input type="submit" value="Editar" class="btn btn-success">
    </form>

</div>

